@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .header-esquerda,
  .header-center,
  .header-direita {
    justify-content: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  #botao-dashboard {
    margin-top: 10rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 220px) {
  #botao-dashboard {
    margin-top: 11rem;
  }
}
